<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/dsl/generador/Generador"
			class = "org.xtext.dsl.generador.generador.GeneradorPackage"
			genModel = "model/generated/Generador.genmodel" />
	</extension>
</plugin>
