<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.parafarmacia.pablo.parafarmacia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/logo_principal"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".PedidosActivity"
            android:label="@string/pedidos"
            android:theme="@style/PedidosTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ProductosActivity"
            android:label="@string/productos"
            android:theme="@style/ProductosTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".UsuariosActivity"
            android:label="@string/usuarios"
            android:theme="@style/UsuariosTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".NuevoProductoActivity"
            android:label="@string/productos"
            android:theme="@style/ProductosTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProductosActivity" />
        </activity>
        <activity
            android:name=".ActualizarProductoActivity"
            android:label="@string/productos"
            android:theme="@style/ProductosTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProductosActivity" />
        </activity>
        <activity android:name=".ImagenProductoActivity"
            android:label="@string/productos"
            android:theme="@style/ProductosTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProductosActivity" /></activity>
    </application>

</manifest>